<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.andoirdproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndoirdProject">
        <activity android:name=".Prac14.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Prac14.MyBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".Prac21.MainActivity"></activity>
        <activity android:name=".Prac18.XML_DOM_Parser.MainActivity" />
        <activity android:name=".Prac18.XML_Pull_Parser.MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Prac19.MainActivity"></activity>

        <receiver
            android:name=".Prac13.ConnectionReceiver"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Prac17.MainActivity" />
        <activity android:name=".Prac16.MainActivity"></activity>
        <activity android:name=".Prac13.MainActivity">

        </activity>
        <activity android:name=".Prac10.MainActivity" />
        <activity android:name=".Prac9.MainActivity" />
        <activity android:name=".Prac11.Calculator" />
        <activity android:name=".Prac12.SpinnerExample" />
        <activity android:name=".Prac8.EditText_Call" />
        <activity android:name=".Login_Resource" />
        <activity android:name=".New_Login" />
        <activity android:name=".Login" />
        <activity android:name=".Basic_Login" />
        <activity
            android:name=".Activity_Lifecycle"
            tools:ignore="WrongManifestParent" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>